.container {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card {
  width: 400px;
  min-height: 250px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  padding: 1.5rem;
  z-index: 10;
  color: rgba(31, 38, 135, 0.45);
}

.title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.btn {
  display: block;
  background: none;
  border: none;
  text-align: center;
  font-size: 1rem;
  color: whitesmoke;
  background-color: rgb(50, 91, 228);
  padding: 0.8rem 1.8rem;
  border-radius: 2rem;
  cursor: pointer;
  margin: 0 auto;
  &:hover {
    opacity: 0.7;
  }
}
.link {
  font-size: 1rem;
  color: whitesmoke;
  text-decoration: none;
}
